body { text-align: center;}
.column-playfield {
    text-align: left;
    display: inline-block;
}
.column-hints {
    text-align: left;
    display: inline-block;
    width: 15%;
}

.crossword
{
    line-height: .95em;
    user-select: none;
}
.crossword .square
{
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.6em;
    line-height: 1.1em;
    border: 1px solid black;
    position: relative;
    text-align: center;
}

.crossword .square.active
{
   background-color: yellow;
}

.crossword .square.empty
{
    background: black;
}

.crossword .square .number {
    position: absolute; top: .2em; left: .2em;font-size: .5em;line-height: .7em;
    z-index: 1;
}

.crossword .square input.letter 
{
    left: 0; right: 0;
    top: 0; bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: monospace;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-transform: uppercase;
}


